/* Mobile */
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large screen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large screen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large screen only"]:not(.computer),
  [class*="widescreen only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large screen"]),
  [class*="tablet only"]:not([class*="large screen"]),
  [class*="computer only"]:not([class*="large screen"]),
  [class*="large screen hidden"],
  [class*="widescreen only"]:not([class*="large screen"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen"]),
  [class*="tablet only"]:not([class*="widescreen"]),
  [class*="computer only"]:not([class*="widescreen"]),
  [class*="large screen only"]:not([class*="widescreen"]),
  [class*="widescreen hidden"],
  [class*="widescreen or lower hidden"] {
    display: none !important;
  }
}

.ui.inverted.menu .dropdown .item,
.ui.inverted.menu .dropdown .item>a:not(.ui) {
  color: #000000;
}

.pull-left {
  float: left;
  padding: 0 1rem 1rem 0;
  max-width: 50%;
}

.pull-right {
  float: right;
  padding: 0 0 1rem 1rem;
  max-width: 50%;
}

.text-justify {
  text-align: justify;
}

.thread-post .Markdown {
  font-size: 18px;
}
.thread-post img {
  max-width: 100%;
}

.thread-post h1,
.thread-post h1:first-child,
.thread-post h2,
.thread-post h2:first-child,
.thread-post h3,
.thread-post h3:first-child,
.thread-post h4,
.thread-post h4:first-child,
.thread-post h5,
.thread-post h5:first-child,
.thread-post h6,
.thread-post h6:first-child {
  margin-top: 1em
}

.thread-post code,
.thread-post kbd,
.thread-post pre {
  font-family: monospace, monospace;
  font-size: 0.9em;
}

.thread-post p,
.thread-post blockquote,
.thread-post ul,
.thread-post ol,
.thread-post dl,
.thread-post table,
.thread-post pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.thread-post pre {
  font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.thread-post code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.thread-post code {
  padding: 0.2em;
  margin: 0.2em;
  font-size: 85%;
  background-color: rgba(27,31,35,0.1);
  border-radius: 0px;
}

.thread-post code::before,
.thread-post code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.thread-post pre {
  word-wrap: normal;
}

.thread-post pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.thread-post pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.thread-post pre code::before,
.thread-post pre code::after {
  content: normal;
}

.thread-post .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.thread-post .highlight pre,
.thread-post pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: rgba(27,31,35,0.10);
  border-radius: 0px;
}

.thread-post pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.thread-post pre code::before,
.thread-post pre code::after {
  content: normal;
}
